@charset "gb2312";


/**/
body{
	font: 14px "微软雅黑", Arial, Helvetica, sans-serif;
    background: url(../images/top.jpg) no-repeat center top #075498;
    color: #fff;
    
}
/*搜索框*/
.form{ 
	float: right;
	margin-top: 50px;  
	margin-right: 20px;
}

/*类型索引----电视剧，电影，综艺，动漫*/
.tab{
	margin-bottom: 10px;
	margin-left:66px;
	font: 22px "微软雅黑", Arial, Helvetica, sans-serif;
	float: left;
}
.tab a{
	 margin-left:25px;
	 display: inline-block;
	 text-decoration: none;
	 color:#fff;
	 z-index: 2;
}
/*加载爬取的分类下的类型的样式*/
.category{
	margin-left: 20px;
	height: 40px;
	text-align: center;
}
.category a{
	text-decoration:none;
	color: black;
	
}
/*加载爬出来的内容的显示样式*/
.box{
	margin: 50px;
	float: left;
}

.whole{
	/*border:solid red;*/
	border:thin;
	background-color:#fff;
	width:170px;
	height:290px;
	margin:5px;
	float: left;
} 
	

.whole img{
	 width:170px;
	 height:220px;	
	 background-image: url("../images/imgBackground.png");
}

.whole a{
	text-decoration: none;
}
.whole em{
	color: blue;
}
/*页码样式*/
.page a{
	 border:1px solid #e6e6e6;
	 margin-top:20px;
	 margin-left:2px;
	 display: inline-block;
	 width: 26px;
	 height: 26px;
	 line-height: 26px;
	 background-color: #fff;
	 text-align: center;
     margin: 0,4px;
	 color: #222;
	 text-decoration: none;
}
.page current a{
	color:white;
	background-color: gray;
}	    
.next a,
.prev a{
	border:1px solid #e6e6e6;
	        margin-top:20px;
	        margin-left:2px;
	        display: inline-block;
	        width: 62px;
	        height: 26px;
	        line-height: 26px;
	        background-color: #fff;
	        text-align: center;
	        margin: 0,4px;
	        color: #222;
	        text-decoration: none;
}

/*player.jsp界面*/
/*播放器*/
.player{
     margin-top:46px;
     margin-left:40px; 
     position: static;
}
/*电视剧，动漫剧集*/
.episode{
    padding-top: 88px;
    margin-left:30px;
}
/*剧集中的集数链接*/
.episode a{
	border:1px solid #e6e6e6;
	display: inline-block;
	margin-top:2px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: #fff;
	text-align: center;
	margin: 0,4px;
	color: #222;
	text-decoration: none;
}
.zongyi{
	padding-top: 28px;
}
.zongyi a{
		text-decoration: none;
		display: inline-block;
		border:1px solid #e6e6e6;
		color: #222;
		background-color: #fff;
		line-height: 36px;
		text-align: center;
		margin: 0,4px;
		width: 120px;
	
}
.title{
	font-size: 20px;
	color:#000;
}
des{
	font-size: 15px;
	color: red;
}
.f_l {
	float: left
}
.f_r {
	float: right
}
footer{
	padding: 20px 0;
	color: #ccc;
	margin: 20px 0 0 0
}
.footer {
	width: 1000px;
	margin: auto;
	overflow: hidden
}
.textr {
	text-align: right
}