body{
	/* background-image: url("/images/util/wall4.jpg"); */
}
.send { 
	margin-left:66px;
	margin-top:10px;
	width:60%;
	padding: 20px; 
	overflow: hidden;
	background:#FFF;
	float: left;
 }
.send p { margin-bottom: 10px }
/*设置嗷大喵小表情*/
.ao img{
	width: 20px;
	height: 24px;
}
textarea#lytext { width: 100%; }
.send input[type="button"] { 
	display: block; 
	background: #040404; 
	color: #fff; 
	border: 0; 
	line-height: 30px; 
	padding: 0 20px; border-radius: 5px; float: right; }

.comments{
	background:#FFF;
	width: 60%;
	margin-left: 66px;
	padding: 20px; 
	float: left;
}
.comment p img{
	width: 20px;
	height: 24px;
}
.comment ul{
	margin: 10px 10px; 
	padding: 10px 10px 10px 20px; 
	border-bottom: #ececec 1px solid; 
}
.info{
}
.time{
	float: right;
	font-size: 12px;
	color: #999;
}
.comment p{
	margin-left:50px;
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 20px;
}
.ranks{
	width: 30%;
	float: right;
}
.rank{
	background: white;
	margin-top: 50px;
	height: 300px;
}
.type{
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.rank pai{
	margin-left: 10px;
	background-color: #a6a6a6;
	display: inline-block;
	width: 20px;
	height:20px;
	clear:both;
	color: black;
	text-align: center;
}
/*排行榜---第一，第二，第三，与其他*/
.rank other{
	margin-left: 10px;
	background-color: #a6a6a6;
	display: inline-block;
	width: 20px;
	height:20px;
	clear:both;
	color: white;
	text-align: center;
}
.rank first{
	margin-left: 10px;
	background-color: red;
	display: inline-block;
	width: 20px;
	height:20px;
	clear:both;
	color: white;
	text-align: center;
}
.rank second{
	margin-left: 10px;
	background-color: blue;
	display: inline-block;
	width: 20px;
	height:20px;
	clear:both;
	color: white;
	text-align: center;
}
.rank third{
	margin-left: 10px;
	background-color: green;
	display: inline-block;
	width: 20px;
	height:20px;
	clear:both;
	color: white;
	text-align: center;
}
.rank a{
	color: black;
	margin-left: 10px;
}
.rank font{
	float: right;
	margin-right: 10px;
	color: red;
}		